/*--------------------------------------------------------------
#. Normalize
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=McLaren&display=swap');
html {
	font-family: 'Roboto', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

section {
	padding: 60px 0px 60px;
}
.page-content{
	padding: 30px 0px 0px;
}
article,
aside,

details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

svg {
	width: 16px;
	height: 15px;
	vertical-align: middle;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	/*border: 1px solid #c0c0c0;*/
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

tr {
	border-bottom: 1px solid #e5e5e5;
	text-align: left;
}

table caption {
	background-color: transparent;
	border: 1px solid #e5e5e5;
	border-bottom: none;
	padding: 1em;
	text-align: center;
	text-transform: uppercase;
}

table th a {
	color: #000;
}

/*--------------------------------------------------------------
 Typography
--------------------------------------------------------------*/
button,
input,
select,
select,
textarea {
	color: #666;
	font-size: 14px;
	line-height: 1.6;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 26px;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 20px 0;
	color: #000;
	font-weight: 600;
	line-height: 1.4;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

p {
	margin: 0 0 15px 0;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0;
	padding: 30px 5px 5px 0px;
}

blockquote p {
	margin: 0 0 1em;
	font-style: italic;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #f7f7f7;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
 Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {

	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	word-wrap: break-word;
}

hr {
	background-color: #ddd;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

ul,
ol {
	margin: 0 0 0.5em 1em;
	padding: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: 100%; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	vertical-align: middle;
	width: 100%;
}

figure {
	margin: 1em 0;	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
	table-layout: fixed;
	border: 1px solid #e5e5e5;
}

td,
th {
	padding: 5px 10px;
}

/*--------------------------------------------------------------
#Forms
--------------------------------------------------------------*/

/*button, a.button, input[type="button"], input[type="reset"], input[type="submit"] {
display: inline-block;
font-size: 16px;
margin: 10px;
padding: 10px 30px;
color: #ffffff;
border-radius: 0px;
background:#246A55;
border: none;
}*/

a.button {
	min-width: 150px;
}

/*button:hover,
a.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
background:transparent;
border: 1px solid #ffc341;
color: white;
}*/
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="number"] {
	outline: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
textarea,
select {
	color: #666;
	border: 1px solid #ddd;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"],
input[type="date"],
input[type="time"],
textarea:focus {
	color: #111;
	outline: none;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="varchar"],
input[type="password"],
input[type="search"],
input[type="number"],	
input[type="height"],
select{
	padding: 10px 0 10px 15px;
}

input[type="search"] {
	padding: 12px 0px 8px 15px;
}

select {
	width: 100%;
	
}

textarea {
	padding: 10px;
	width: 100%;
}

.form-submit input#submit {
	margin: 20px 0 10px 0;
}

.form-submit {
	text-align: center;
}

p {
	margin-top: 0;
	margin-bottom: 20px;
	line-height: 1.4;
}

/*input[type="submit"] {*/

/*width: 100%;*/

/*}*/

/*--------------------------------------------------------------
#. Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
#.#. Links
--------------------------------------------------------------*/

a {
	color: white;
	outline: none;
	text-decoration: underline;
}

a:visited {
	color: white;
}

a:hover,
a:focus,
a:active {
	color: white;
	text-decoration: none;
}

a:focus {
	outline: inherit;
}

a:hover,
a:active {
	outline: 0;
}

a.more-link {
	margin-top: 10px;
	display: inline-block;
	padding: 7px 13px;
	background: #13a1c5;
	color: #fff;
	position: relative;
	z-index: 0;
	font-size: 16px;
	font-weight: 500;
}

a.more-link:hover {
	background: #000;
}

/*----reset---*/
.clear {
	clear: both;
}

.clearfix:before,
.clearfix:after {
	clear: both;
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.container:before,
.container:after {
	display: table;
	content: "";
}

.container:after {
	clear: both;
}

.section-content {
	padding: 0px 12px;
}

p {
	font-family: 'Roboto', sans-serif;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
	background-color: transparent;
}

input[type="date"]:focus,
input[type="date"]:hover {
	color: #252525;
	background-color: white;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	height: 100%;
}

.no-padding {
	padding: 0;
}

button.menu-toggle {
	display: none;
}
.modelcraft-button, 
button.modelcraft-button{
	 border: none;
    padding: 15px 20px;
    background-color: #555;
    display: block;
    color: white;
    width: 200px;
}
.modelcraft-button:hover,
button.modelcraft-button:hover{
	background-color: #000;
}

/*----------------------
breadcrumb
----------------------*/
#breadcrumb-list {
	position: relative;
	z-index: 1;
}

.tesla-breadcrumb-title-wrapper {
	position: absolute;
	bottom: 14px;	/*left: 8%;*/
	padding: 15px;
}

.breadcrumb-trail.breadcrumbs ul li {
	display: inline-block;
	color: #fff;
	font-size: 12px;
}

.breadcrumb-trail.breadcrumbs ul li a {
	color: #f99f1e;
	padding-right: 5px;
}

.modelcraft-breadcrumb-title-wrapper ul {
	float: right;
}
.breadcrumb-trail.breadcrumbs ul li a:after {
	content: "/";
	padding-left: 5px;
}

.breadcrumb-trail.breadcrumbs ul  .trail-end {
	color: #fff;
}


/*Logo*/
/*.site-branding{
	width: 10%;
    display: block;
    margin: 15px auto;
    transition: all 0.4s linear;
}*/
 .site-logo-wrapper{
	padding: 25px 0px;
	width: 70%;
}
.modal-event{
	display: none;

}
.modal-event.in{
	display: block;
	height: 100%;
	background-color: #00000085;
}


.modal-event.in .modal-dialog {
	height: 100%;
	margin: 100px auto;
	width: 40%;
}
/*Menu-navbar*/
.menu-header{
	background-color: #ffffff6e;
	position: fixed;
	width: 100%;
	left: 0;
	transition: all 0.4s linear;
	z-index: 99;
	height: 130px;
    display: flex;
    align-items: center;
}
.site-header-menu{
	text-align: center;
	padding: 30px 0px;
}
.main-navigation ul{
	list-style: none;
	padding: 20px;
	margin: 0;
	position: relative;
}

.main-navigation ul li{
	display: inline;
}
.main-navigation ul li a{
	color: #000;
    padding: 30px 30px;
    transition: all 0.3s linear;
    font-weight: 700;
    font-size: 16px;
    font-family: 'McLaren', cursive;

}
.main-navigation ul li a:hover{
	background-color: #000;
	color: white;
}
.main-navigation ul li .search-form-nav{
	position: absolute;
    right: 10%;
    top: 80%;
    display: block;
}
.main-navigation ul li .search-form-nav form{
	display: inline-block;
	width: 100%;
}
.main-navigation ul li .search-form-nav form input[type="search"]{
	width: 65%;
    float: left;
    height: 30px;
}
.main-navigation ul li .search-form-nav form input[type="submit"]{
    float: right;
    width: 35%;
    margin-left: -17px;
}

/*-------------------
images
------------------*/

.item-image-holder{
	position: relative;
	overflow: hidden;
	padding-bottom: 80%;
	margin-bottom: 20px;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.item-image-holder img{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;

}

/*Featured-section*/

.model-craft-featured-section{
	position: relative;
}
.banner-overlay{
    position: absolute;
    top: 0;
    width: 100%;
    align-items: center;
    height: 100%;
    left: 0;
    text-align: center;
    right: 0;
    display: flex;
    background-color: #00000069;

}
.model-craft-slider {
	overflow: hidden;
}

.model-craft-slider .slider-single .item-image-holder{
	padding-bottom: 45%;
	margin-bottom: 0px;
}


.model-craft-slider .slider-single.slick-active .banner-overlay .slider-caption {
	  animation: zoomInUp  1.3s both 0.2s;
}

.model-craft-slider .slider-single .banner-overlay .slider-caption {
 	
    animation: fadeOutLeft 1s both;
    width: 100%;
    text-align: center;
  }

 .model-craft-slider .slider-single .banner-overlay .slider-caption h2{
 	font-size: 70px;
 	color: white;
 	text-transform: capitalize;
 	font-family: 'Acme', sans-serif;
 	border-bottom: 2px solid #eee80f;
 	display: inline-block;
 }

.slider-caption button.modelcraft-button{
	margin: 0 auto;
}
.event-rules-wrapper,
.event-detail-wrapper,
.about-contents{
	display: flex;
	align-items: center;
}

.about-picture {
	width: 48%;
    padding: 15px 20px;
    margin-right: 20px;
    display: inline-block;
}
.about-text{
	width: 48%;
	margin-left: 20px;
	display: inline-block;
	float: left;
}
.event-pictures .item-image-holder,
.about-picture .item-image-holder {
	width: 50%;
	display: inline-block;
	float: left;
    box-shadow:15px -12px 14px 7px #ddd;
}
.event-pictures .item-image-holder,
.about-picture .item-image-holder {
    width: 50%;
    display: inline-block;
    float: left;
  }
.event-pictures .item-image-holder:first-child,
.about-picture .item-image-holder:first-child {
    margin-top: 70px;
  }
  .event-pictures .item-image-holder:nth-child(2),
.about-picture .item-image-holder:nth-child(2) {
  	margin-left: -40px;
  }

.section-title{
	position: relative;
	text-transform: capitalize;
	display: inline-block;
}

.services-section{
	background-image: url(../images/magazine.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
.event-whole-wrapper button.modelcraft-button,
.gallery-whole-wrapper button.modelcraft-button,
.services-section button.modelcraft-button{
	margin: 0 auto;
	position: relative;
}
.services-whole-wrapper{
	margin-bottom: 20px;
}
.services-whole-wrapper h2.section-title{
	color: white;
}
.services-text h4{
	text-transform: capitalize;
}
.section-title:after{
 	content: "";
    position: absolute;
    width: 50px;
    bottom: -4px;
    height: 5px;
    right: -25px;
    background-color: #eee80f;
}
.events-single,
.services-single{
	margin-bottom: 30px;
	position: relative;
}
.event-single .event-text,
.services-single .services-text{
    padding: 20px;
    height: 270px;
    background-color: white;
}
.event-single .item-image-holder,
.services-single .item-image-holder{
    margin-bottom: 0px;   	
    padding-bottom: 60%;
    overflow: hidden;
}
.date-holder{
	position: absolute;
    background: #555555;
    padding: 10px 20px;
    right: -10px;
    top: 10px;
}
.event-single .item-image-holder img,
.services-single .item-image-holder img{
   	transition: all 0.4s linear;
}
.services-single:hover .item-image-holder img,
.services-single:hover .item-image-holder img{
   	transform: scale(1.4);
}

.section-content p{
	color: #555;
}

.fancybox-content.gallery-img-big{
	padding: 0;
	overflow: visible;
}

.gallery-single{
	box-shadow: 2px 2px 10px 2px #ddd;
    padding: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.gallery-single .item-image-holder{
	padding-bottom: 60%;
}
.gallery-single a span.image-date{
   text-align: center;
   color :#555;
   margin-top: 20px;
   margin-bottom: 20px;
   display: block;
   font-size: 18px;
   font-family: 'McLaren', cursive;

}
.fancybox-content.gallery-img-big .fancybox-close-small{
	background: white;
    top: -30px;
    border-radius: 50%;
    right: -16px;
}
h5.event-name{
	text-align: center;
}
.events-single{
    border: 1px solid #DDD;
    padding: 15px;
}
.event-overlay{
	background-color: white;
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: -20px;
}
.event-overlay:after {
    content: "";
    height: 45px;
    transform: skew(0deg , 7deg);
    width: 100%;
    background-color: white;
    bottom: 8px;
    position: absolute;
}
.link-effects{
	transition: all 0.4s linear;
}
.link-effects:hover{
	margin-left: 15px;
}	
.footer{
	background: #555;
}
.footer-contact-widget ul,
.footer-menu-widget ul{
	list-style: none;
}

.footer-logo .item-image-holder{
   padding-bottom: 40%;
    width: 70%;
}
.footer-widgets-area{
	padding: 40px 0px;
}
.footer-widget-title h4{
	color: white;
}
.footer-menu-widget ul li{
	line-height: 2;
}
.footer-contact-widget ul li {
	margin-left: 15px;
}
.footer-contact-widget ul li .fa{
	position: absolute;
	font-size: 20px;
	color: white;
	left: 0;
}
span.footer-social-icons{
	margin-top: 10px;
	display: inline-block;
}
span.footer-social-icons ul{
	margin-left: 0px;
}
span.footer-social-icons ul li{
	display: inline;
	margin-left: 0;
	margin-right:20px;
}
span.footer-social-icons ul li .fa {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 1.9;
    transition: all 0.3s linear;
}
span.footer-social-icons ul li a[href*="facebook.com"] .fa:hover {
    background-color: #3b5998 ;	
}
span.footer-social-icons ul li a[href*="twitter.com"] .fa:hover {
    background-color: #38A1F3;	
}
span.footer-social-icons ul li a[href*="instagram.com"] .fa:hover {
    background-color: #C13584;	
}
.footer-newsletter-widget p{
	color: white;
}

.footer-newsletter-widget form input[type="text"]{
	width: 70%;
    display: inline-block;
    float: left;
}
.footer-newsletter-widget form .modelcraft-button{
	width: 30%;
	background-color: #000;
	border:1px solid #000;
	height: 46px;	
}


/*banner*/
.banner-full-image-wrapper{
	background-image: url(../images/bannerinner.jpg);
	position: relative;
}
.banner-text{
	padding: 250px 30px 100px 30px;
}
.banner-text .page-heading{
	text-align: center;
}
.banner-text .page-heading h1{
	color: white;
	display: inline-block;
	border-bottom: 2px solid #eee80f;
}

.modelcraft-team-filtre-button{
	margin-bottom: 20px;
}
.modelcraft-team-filtre-button button.modelcraft-button{
	display: inline-block;
}
.modelcraft-team-filtre-button button.modelcraft-button.is-checked{
	background-color: #000;
	color: white;
}
.modelcraft-team-single {
	width: 30%;
    padding: 10px;
    margin:0px 15px;
    border: 1px solid #ddd;
    cursor: pointer;	
    float: left;
    transition: all 0.4s linear;
    margin-bottom: 30px;
}
.modelcraft-team-single .item-image-holder{
	padding-bottom: 100%;
}
.modelcraft-team-single .team-detail{
	text-align: center;
	text-transform: capitalize;
	transition: all 0.4s linear;
	position: relative;
	overflow: hidden;
}
.modelcraft-team-single:hover{
	box-shadow: 2px 5px 16px 10px #ddd;
	border: 1px solid transparent;
}

.modelcraft-team-single .team-detail ul{
	list-style: none;
    position: absolute;
    background: white;
    top: -90px;
    width: 90%;
    border:1px solid #ddd;
    padding-top: 10px;
    transition: all 0.4s linear;
    height: 100%;
}
.modelcraft-team-single .team-detail ul li{
	display: inline;
}

.modelcraft-team-single .team-detail ul li a{
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    color: black;
    line-height: 2.3;
    display: inline-block;
    font-size: 20px;
}
.team-detail p {
    font-style: italic;
}

.modelcraft-team-single:hover .team-detail ul{
	top: 0;
}
.modelcraft-team-single .team-detail ul li a[href*="facebook.com"]:hover{
	background-color: #4267B2;
	color: white;
}
.modelcraft-team-single .team-detail ul li a[href*="twitter.com"]:hover{
	background-color: #1DA1F2;
	color: white;
}
.modelcraft-team-single .team-detail ul li a[href*="instagram.com"]:hover{
	background-color: #C13584;
	color: white;
}
.testimonial-single .item-image-holder{
    width: 15%;
    text-align: center;
    margin: 0 auto;
    
    padding-bottom: 15%;
    border-radius: 50%;
}
.testimonial-single .testimonial-text{
	text-align: center;
} 

.testimonial-single .testimonial-text h3{
	border-bottom: 4px solid #eee80f;
	display: inline-block;
}
.testimonial-single .testimonial-text p{
	position: relative;
}
.testimonial-single .testimonial-text p:before{
    content: "\f10d";
    position: absolute;
    font-family: fontawesome;
    left: 4px;
    top: -14px;
    font-size: 20px;
    color: #ed1e24;

}

.inner-service-section{
	background-image: none;
}

.inner-service-whole-wrapper .services-single{
	border: 1px solid #ddd;
	padding: 15px;
}

.address-wrapper ul {
    list-style: none;
}
.address-wrapper ul li {
	position: relative;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;

}
.address-wrapper ul li .fa{
	font-size: 30px;
	position: absolute;
	left: 0px;
}

.address-wrapper ul li span {
	padding-left: 50px;
    display: block;
    margin-bottom: 20px;
}
.address-wrapper ul li span a{
	color: black;
}

.contact-social-icons ul li{
	border-bottom: none;
	display: inline;
	margin-right: 20px;

}
.contact-social-icons ul li .fa{
	position: relative;
}
.contact-social-icons ul li a{
	width: 50px;
	height: 50px;
	border: 1px solid #000;
	color: black;
	line-height: 3;
	display: inline-block;
	font-size: 20px;
	text-align: center;
}
.contact-social-icons ul li a[href*="facebook.com"]:hover{
	background-color: #4267B2;
	color: white;
}
.contact-social-icons ul li a[href*="twitter.com"]:hover{
	background-color: #1DA1F2;
	color: white;
}
.contact-social-icons ul li a[href*="instagram.com"]:hover{
	background-color: #C13584;
	color: white;
}

.address-wrapper {
    border-right: 1px solid #ddd;
    padding-right: 40px;
}
.contact-form-wrapper form input{
	width: 100%;
	margin-bottom: 20px;
}
.contact-form-wrapper form textarea{
	width: 100%;
}
.contact-form-wrapper form input[type="submit"]{
	width: 20%;
	float: right;
}
.map-wrapper iframe{
	width: 100%;
}
ul.rule-list{
	list-style: none;
}
ul.rule-list li{
	position: relative;
	padding-bottom: 20px;
}
ul.rule-list li .fa{
	margin-right: 10px;
}

.event-detail-text{
	padding: 15px;
	box-shadow: 2px 2px 10px 2px #ddd;
}
.event-rules-section{
	background-color: #252525;
	position: relative;
}
.event-detail-text{
	background-color: white;
}

.event-rule-picture .item-image-holder{
	box-shadow: 15px -12px 14px 7px #2b2222;
}
.event-rule{
	box-shadow: 15px -12px 14px 7px #2b2222;	
	background-color: #000;
	border: 2px dashed #fff;

}
.section-overlay-skewed{
    background-color: white;
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.section-overlay-skewed:after{
	content: "";
    height: 230px;
    transform: skew(0deg , 3deg);
    width: 100%;
    background-color: white;
    bottom: -106px;
    position: absolute;
}
.event-rule ul li,
.event-rule h2{
	color: white;
}
.button-holder a{
	text-align: center;
}
.apply-form form input{
	width: 80%;
}
.form-wrapper .modal-dialog{
	width: 80%;
	height: 100%;

}
.form-wrapper .modal-dialog .modal-content{
	height: 100%;
	overflow: scroll;
}
.form-wrapper .modal-dialog .modal-content .modal-header{
	background-color: #252525;
	text-align: center;
}
.form-wrapper .modal-dialog .modal-content .modal-header .close{
	opacity: 1;
}
.form-wrapper .modal-dialog .modal-content .modal-header .close .fa{
	color: white;
	opacity: 1;
}
.form-wrapper .modal-dialog .modal-content .modal-header .section-heading h5{
	color: white;
	text-transform: capitalize;
}
.apply-form h2{
	text-align: center;
	text-transform: capitalize;
	border-bottom: 1px solid #ddd;

}
.apply-form .setup-panel{
	display: block;
	margin: 0 auto;
	width: 50%;
}
.apply-form .setup-panel li.active,
.apply-form .setup-panel li.active active,
.apply-form .setup-panel li:hover{
	background-color: #252525;
	color: #fff;	
	box-shadow: 2px 2px 10px 10px #ddd;
}

.apply-form .setup-panel li.active h4,
.apply-form .setup-panel li:hover h4,
.apply-form .setup-panel li:hover p{
	color: white;
}
.enroll-form-wrapper input{
	width: 100%;
	margin-bottom: 10px;

}
.enroll-form-wrapper label{
	position: absolute;
    right: 20%;
    top: 22%;
	}
.modelcraftform .modelcraft-button{
		
	width: 30%;
	margin: 50px auto 0;
}
.wizard-content-left h1 {
	color: #ffffff;
	font-size: 38px;
	font-weight: 600;
	padding: 12px 20px;
	text-align: center;
}
.form-wizard {
	color: #888888;
	padding: 30px;
}
.form-wizard .wizard-fieldset {
	display: none;
}
.form-wizard .wizard-fieldset.show {
	display: block;
	text-align: left;	
}
.form-wizard .wizard-form-error {
	display: none;
	background-color: #d70b0b;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
}
.trial-call-form h2{
	color: #03bcd8;
}
/*.form-wizard .form-wizard-previous-btn {
  background-color: #fb1647;
}*/
/*.form-wizard .form-control {
  font-weight: 300;
  height: auto !important;
  padding: 15px;
  color: #888888;
  background-color: #f1f1f1;
  border: none;
}*/
.form-wizard .form-control:focus {
	box-shadow: none;
}
.form-wizard .form-group {
	position: relative;
	margin: 25px 0;
}
.form-wizard .form-wizard-steps {
	margin: 30px auto;
	width: 70%;
}

.wizard-fieldset form label{
	position: absolute;
    top: 10px;
    left: 50px;
    background: white;
}
.wizard-fieldset form textarea,
.wizard-fieldset form input{
	margin: 20px 0px;
	width: 100%;
	border: 1px solid #ddd;
}
.wizard-fieldset form input[type="date"],
.wizard-fieldset form input[type="time"]{
	background-color: white;
}
.wizard-fieldset form input[type="date"]:focus, input[type="date"]:hover{
	color: inherit;
	outline: none;
	background-color: white;
}
 .wizard-fieldset form textarea{
	background-color: transparent;
	border: 1px solid #ddd;
}
.form-wizard .form-wizard-steps li {
	width: 50%;
	float: left;
	transition: all 1s linear;
	position: relative;

}
.form-wizard .form-wizard-steps li::after {
	background-color: #f3f3f3;
	content: "";
	height: 5px;
	left: 0;
	position: absolute;
	right: 0;
	transition: all 1s linear;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
}
.form-wizard .form-wizard-steps li span {
	background-color: #dddddd;
	display: inline-block;
	position: relative;
	text-align: center;
	z-index: 1;
	padding: 10px;

}
.form-wizard .form-wizard-steps li:last-child::after {
	width: 50%;
}
.form-wizard .form-wizard-steps li.active span, .form-wizard .form-wizard-steps li.activated span {
	background-color: #03bcd8;

	color: #ffffff;
}
.form-wizard .form-wizard-steps li.active::after, .form-wizard .form-wizard-steps li.activated::after {
    background-color: #03bcd8;
    left: 50%;
    width: 50%;
    border-color: #03bcd8;
}
.form-wizard .form-wizard-steps li.activated::after {
	width: 100%;
	border-color:#03bcd8;
}
.form-wizard .form-wizard-steps li:last-child::after {
	left: 0;
}

.confirmed-wrapper ul{
	list-style: none;
}

.confirmed-wrapper ul li span{
	color: #03bcd8;
	font-weight: 600;
	margin-right: 10px;
}
.modelcraftform{
	margin-bottom: 20px;
}
/* #addedcss */


.video-single{
	margin:30px 15px;
	padding: 20px;
	box-shadow: 2px 2px 10px 5px #ddd;
}
 .post-thumb img{
	margin-bottom: 20px;
}